@charset "UTF-8";

/*------------ベースのCSS------------*/
html {
  scroll-behavior: smooth;
}
body,td,th {
    font-family: "a-otf-gothic-mb101-pr6n", sans-serif;
	font-weight: 300;
    font-style: normal;
    font-size: 12px;
    font-variant: normal;
}
body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    font-size: 23px;
    color: #58444E;
}
@media screen and (max-width:700px) {
p {
	font-size: 18px;
}
}
hr {
	height: 0.5px;
 	background-color: #806473;
 	width: 97%;
	border: none;
	margin: 0 auto;
}
img {
	margin: 0;
}

/*------------お花の背景------------*/
.setsumei {
	background-image: url("../image/hana.jpg");
	background-size: 1700px;
    background-repeat: repeat-y;
	background-position: top center;
}
a {

    text-decoration: none;
}
a:hover {

    text-decoration: underline;
}

/*------------見出し------------*/
.midashi{
	height: 430px;
	font-family: "classico-urw", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #806473;
	font-size: 120px;
	letter-spacing: 0.02em;
	display: flex;
	align-items: center;
	justify-content: center;	
}
.komidashi1 {
    font-family: "classico-urw", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #806473;
    font-size: 65px;
    letter-spacing: 0.02em;
    border-left: 15px solid #C5A3AF;
	line-height: 60px;
	padding-left: 20px;
	margin-left: 150px;
}
@media screen and (max-width:600px) {
.midashi {
	font-size: 90px;
}
.komidashi1 {
    margin-left: 50px;
}
}
@media screen and (max-width:400px) {
.midashi {
	font-size: 70px;
}

}
.thank .komidashi1 {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
    font-family: "linotype-didot", serif;
	font-weight: 400;
	font-style: italic;	
}
.komidashi2 {
	text-align: center;
    color: #806473;
}

/*------------ヘッダー------------*/
.inner {
	margin: 0;
}
.inner:after {
	content: "";
	clear: both;
	display: block;
}

/* header */
#top-head {
	font-size: 14px;
	top: -100px;
	position: absolute;
	width: 100%;
	margin: 100px auto 0;
	padding: 30px 0 0;
	line-height: 1;
	z-index: 999;
}
#top-head a,
#top-head {
	color: #806473;
	text-decoration: none;
}
#top-head .inner {
	position: relative;
}
#top-head .logo {
	float: left;
	font-size: 36px;
	padding-left: 30px;
    font-family: "linotype-didot", serif;
    font-weight: 400;
    font-style: italic;
    color: #806473;
}
#global-nav ul {
	list-style: none;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 23px;
    font-family: "classico-urw", sans-serif;
	font-weight: 400;
	font-style: normal;
	padding-right: 40px;
}
#global-nav ul li {
	float: left;
	position: relative;
}
#global-nav ul li a {
	padding: 0 30px;
}

/* Btn Hover */
#global-nav ul li:after {
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	bottom: -20px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
#global-nav ul li:hover:after {
	background: #806473;
	bottom: -30px;
}


/* Fixed */
#top-head.fixed {
	margin-top: 0;
	top: 0;
	position: fixed;
	padding-top: 10px;
	height: 55px;
	background: #fff;
	background: rgba(255,255,255,.7);

	transition: top 0.65s ease-in;
	-webkit-transition: top 0.65s ease-in;
	-moz-transition: top 0.65s ease-in;
}
#top-head.fixed .logo {
	font-size: 24px;
	color: #806473;
}
#top-head.fixed #global-nav ul li a {
	color: #806473;
	padding: 0 20px;
	font-size: 18px;
}

/* Fixed Btn Hover */
#top-head.fixed #global-nav ul li:after {
	bottom: -10px;
}
#top-head.fixed #global-nav ul li:hover:after {
	background: #806473;
	bottom: -20px;
}



/* Toggle Button */
#nav-toggle {
	display: none;
	position: absolute;
	right: 12px;
	top: 14px;
	width: 34px;
	height: 36px;
	cursor: pointer;
	z-index: 101;
}

#nav-toggle div {
	position: relative;
}
#nav-toggle span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: #806473;
	left: 0;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
	top: 0;
}
#nav-toggle span:nth-child(2) {
	top: 11px;
}
#nav-toggle span:nth-child(3) {
	top: 22px;
}


/* 画面が小さくなった時用の設定 */
@media screen and (max-width: 4000px) {
	article {
		padding: 0 30px;
	}
	.inner {
		width: 100%;
		padding: 0 20px;
	}
	#global-nav ul li a {
		padding: 0 20px;
	}
	#top-head.fixed #global-nav ul li a {
		padding: 0 15px;
	}
}

@media screen and (max-width: 640px) {
	#main-visual {
		height: 300px;
	}


	#top-head,
	.inner {
		width: 100%;
		padding: 0;
	}
	#top-head {
		top: 0;
		position: fixed;
		margin-top: 0;
	}
	/* Fixed reset */
	#top-head.fixed {
		padding-top: 0;
		background: transparent;
	}


	#mobile-head {
		background: #fff;
		width: 100%;
		height: 56px;
		z-index: 999;
		position: relative;
	}
	#top-head.fixed .logo,
	#top-head .logo {
		position: absolute;
		left: 13px;
		top: 13px;
		color: #806473;
		font-size: 26px;
	}

	#global-nav {
		position: absolute;
		/* 開いてないときは画面外に配置 */
		top: -500px;
		background: #B992A6;
		width: 100%;
		text-align: center;
		padding: 10px 0;
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
	}
	#global-nav ul {
		list-style: none;
		position: static;
		right: 0;
		bottom: 0;
		font-size: 18px;
	}
	#global-nav ul li {
		float: none;
		position: static;
	}
	#global-nav ul li:after  {
		display: none;
	}
	#top-head #global-nav ul li a,
	#top-head.fixed #global-nav ul li a {
		width: 100%;
		display: block;
		color: #fff;
		padding: 18px 0;
	}
	#nav-toggle {
		display: block;
	}
	/* #nav-toggle 切り替えアニメーション */
	.open #nav-toggle span:nth-child(1) {
		top: 11px;
		-webkit-transform: rotate(315deg);
		-moz-transform: rotate(315deg);
		transform: rotate(315deg);
	}
	.open #nav-toggle span:nth-child(2) {
		width: 0;
		left: 50%;
	}
	.open #nav-toggle span:nth-child(3) {
		top: 11px;
		-webkit-transform: rotate(-315deg);
		-moz-transform: rotate(-315deg);
		transform: rotate(-315deg);
	}
	/* #global-nav スライドアニメーション */
	.open #global-nav {
		/* #global-nav top + #mobile-head height */
		-moz-transform: translateY(556px);
		-webkit-transform: translateY(556px);
		transform: translateY(556px);
	}


}

/*------------ヘッダー2------------*/
.header2 {
    height: 430px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*------------フッター------------*/	
footer {
	background-color: #FFFFFF;	
	font-family: "classico-urw", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #B992A6;
    font-size: 13px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-left: 0px;
}
/*------------ベースのCSS終わり------------*/

/*------------index.html------------*/
#top {
    background-image: url(../image/top_background.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
/*------------ヘッダー------------*/
.header {
    width: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    z-index: 9999;
}
header {
    height: 100px;
    margin-top: 25px;
    margin-right: 60px;
    margin-left: auto;
    margin-bottom: 0px;
	display: flex;
	justify-content: flex-end;
}

.global-nav {
    display: flex;
    margin-top: 40px;
}
.global-nav li {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 25px;
    list-style-type: none;
    font-family: "classico-urw", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.global-nav li a {
    color: #806473;
}
.global-nav li a:hover {
    color: #B992A6;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    text-decoration: none;
/*------------文字と線の間の余白------------*/
	padding-bottom: 2px;
}

/*------------タイトル------------*/
.top1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.topA {
	 width: 100%;
	height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*------------余白------------*/
.yohaku {
	height: 260px;
}

/*------------目標------------*/
.mokuhyou {
	text-align: center;
}

.mokuhyou p:first-child {
    font-size: 50px;
    letter-spacing: 0.02em;
    color: #806473;
    margin-top: 40px;
    margin-bottom: 65px;
}

@media screen and (max-width:600px) {
.mokuhyou p:first-child {
    font-size: 30px;
}
}

.mokuhyou p:last-child {
    font-size: 23px;
    letter-spacing: 0.02em;
    color: #806473;
    line-height: 1.8em;
    margin-top: 70px;
}
@media screen and (max-width:600px) {
.mokuhyou p:last-child {
    font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
}
.mokuhyou hr  {
	height: 2px;
 	background-color: #806473;
 	width: 90%;
	border: none;
}
/*------------小見出し------------*/
#index .komidashi1 {
    text-align: center;	
	border-left: none;
	padding-left: 0;
	margin-left: 0;
}
/*------------About------------*/
#about {
    margin-top: 320px;
}

/*------------自己紹介------------*/
.jikosyoukai {
	margin-top: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.jikosyoukai img {
	display: flex;
	justify-content: center;
    border-radius: 50%;
	margin-right: 40px;
	margin-left: 40px;
	width:  470px;
	height:  470px;
}
@media screen and (max-width:500px) {
.jikosyoukai img {
    width: 350px;
	height:  350px;
}
}
.jikosyoukai p  {
    color: #58444E;
    font-size: 18px;
	max-width: 450px;
	min-width: 300px;
    text-align: justify;
    letter-spacing: -0.02em;
	line-height: 1.7em;
	margin-top: 40px;
	margin-right: 60px;
	margin-left: 60px;
}
@media screen and (max-width:400px) {
.jikosyoukai p {
    max-width: 330px;
    margin-right: 50px;
	margin-left: 50px;
	padding: 0 50px;
}
	#abou .jikosyoukai-text {
		padding: 0 80px;
	}
}

@media screen and (max-width:900px) {
  .jikosyoukai {
    display: block;
  }
  .jikosyoukai img {
	margin-left: auto;
	margin-right: auto;
  }
  .jikosyoukai p {
	margin-left: auto;
	margin-right: auto;
  }
}

/*------------ボタンVIEW MORE------------*/
 .btn a {
	font-family: "classico-urw", sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 25px;
	letter-spacing: 1px;
    background-color: #FFE5F1;
    border-radius: 100vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 250px;
    padding: 10px 25px;
    color: #58444E;
    transition: 0.3s ease-in-out;
    margin-top: 60px;
}
.btn a:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 2rem;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: translateY(-50%) rotate(45deg);
}
.btn a:hover:hover {
  text-decoration: none;
  background-color: #B992A6;
  color: #FFFFFF;
}
.btn a:hover:hover:after {
  right: 1.4rem;
}

/*------------Works------------*/
#works {
    margin-top: 320px;
    padding-bottom: 320px;
}
#works .komidashi1 {
    margin-bottom: 30px;	
}
.img_wrap{
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.img_wrap img{
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}
.img_wrap:hover img{
  opacity: 0.6;
  transition-duration: 0.3s;
}

/*------------Contact------------*/
#contact {
    background-color: #B992A6;
	padding-top: 80px;
	padding-bottom: 80px;
}
#contact .komidashi1{
	color: #FFFFFF;
}

/*------------テキストボックス------------*/
.cp_iptxt {
	position: relative;
	width: 500px;
}
@media screen and (max-width:650px) {
	.cp_iptxt {
		width: 300px;
	}
}


.cp_iptxt input[type='text'] {
	font-size: 20px;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #FFFFFF;
	border: none;
	border-bottom: 2px solid #FFFFFF;
	background: transparent;
}
::placeholder {
	color: #FFFFFF;
	opacity: 0.3;
}
.ef input[type='text']:focus {
	border-bottom: 2px solid #FFFFFF;
	outline: none;
}

.cp_iptxt textarea {
    font-family: "a-otf-gothic-mb101-pr6n", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    width: 495px;
    height: 100px;
    background-color: #B992A6;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 6px;
    letter-spacing: 1px;	
}
@media screen and (max-width:650px) {
	.cp_iptxt textarea {
		width: 300px;
		height: 150px;
	}
}
#contact label {
	font-family: "classico-urw", sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 25px;
	color: #FFFFFF;
	letter-spacing: 1px;
}
#contact table {
	border-spacing: 0;
}

@media screen and (max-width:500px) {
	#contact table th {
		display: block;
	}
	#contact table td {
		display: block;
	}
}
.textbox {
	margin-top: 70px;
}
.textbox1 td {
	padding-top: 5px;
	padding-left: 50px;
}
.textbox2 td {
	padding-top: 30px;
	padding-left: 20px;
}
.textbox1 th {
	padding-right: 10px;
}
.textbox2 th {
	padding-right: 10px;
	padding-bottom: 55px;
}
@media screen and (max-width:500px) {
	.textbox1 th {
		padding: 0px;
	}
	.textbox2 th {
    padding-bottom: 20px;
    padding-right: 0px;
	}
	.textbox1 td {
		padding-left: 0px;
	}
	.textbox2 td {
		padding: 0px;
	}
}
.textbox1 {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.textbox2 {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
/*------------ボタンSend------------*/
 .btn2 a {
	font-family: "classico-urw", sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 25px;
	letter-spacing: 1px;
    background-color: #FFFFFF;
    border-radius: 100vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 250px;
    padding: 10px 25px;
    color: #B992A6;
    transition: 0.3s ease-in-out;
    margin-top: 80px;
}
.btn2 a:hover:hover {
  text-decoration: none;
  background-color: #806473;
  color: #FFFFFF;
}






/*------------about.html------------*/
#abou .header2 {
    background-image: url(../image/top_background.jpg);
    background-size: cover;
    background-position: center 70%;
}
/*------------About------------*/
#profile {
    margin-top: 150px;
}

/*------------谷平------------*/
#abou .jikosyoukai p:first-child {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
	font-family: "ta-koigokoro", sans-serif;
	font-weight: 400;
	font-style: normal;
}

#abou .jikosyoukai p:nth-child(2) {
 	margin-top: 0px;
}
@media screen and (max-width:900px) {
#abou .jikosyoukai p {
	text-align: center;
}
}
#abou .jikosyoukai p {
	font-size: 23px;
}
@media screen and (max-width:700px) {
#abou .jikosyoukai p {
	font-size: 18px;
}
}

.aisatsu {
	max-width: 850px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}

.important {
	margin-top: 100px;
}
.test {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
@media screen and (max-width:900px) {
.test {
	display: block;
	margin: 0 auto;
}
}
.example {/*親div*/
  position: relative;/*相対配置*/
  width: 500px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
  }

.example p {
  width: 350px;
  position: absolute;/*絶対配置*/
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-size: 18px;

  }


.flex-parent {
  width:100%;
  height:auto;
  display:flex;
  justify-content: center;
  flex-wrap:wrap; /* 折り返し指定 */
  margin-top: 40px;
}
.flex-parent p {
  font-size: 18px;
  width: 350px;
  opacity: 1;
  line-height: 1.7em
}
.flex-parent p:first-child {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}
.flex-child {
    width: 450px;
    height: 450px; /* 子要素の内容がないので高さ指定しています。通常はautoでOK */
    display: flex;/* heightにautoを指定した際に高さを揃えるための指定 */
    flex-direction: column;/* heightにautoを指定した際に高さを揃えるための指定 */
    justify-content: center;/* 水平方向中央揃え */
    align-items: center;/* 垂直方向中央揃え */
    border-radius: 50%;
    background: #eee;/* 装飾用 */ 
	margin-top: 25px;
	margin-left: 20px;
	margin-right: 20px;
	}
@media screen and (max-width:500px) {
	.flex-child {
		width: 370px;
    	height: 370px;
	}
	.flex-parent p {
	  font-size: 15px;
	  width: 270px;
	  line-height: 1.7em
	}
	.flex-parent p:first-child {
	  font-size: 20px;
	  text-align: center;
	}
}
.flex-child:first-child {
	background: rgba(247,199,218,0.56);
}
.flex-child:nth-of-type(2) {
	background: rgba(255,252,211,0.63);
}
.flex-child:nth-of-type(3) {
	background: rgba(248,219,213,0.58);
}
@media screen and (max-width:900px) {
.flex-child:nth-of-type(3) {
  margin-left:auto;
  margin-right:auto;
}
}

.skill {
	margin-top: 100px;
}
.ohana {
	padding: 0 10%;
}
.ohana1 {
  width:100%;
  height:auto;
  display:flex;
  justify-content: center;
  flex-wrap:wrap; /* 折り返し指定 */
  margin-top: 30px;
}
.ohana2 {
	display: flex;
	justify-content: flex-end; 
	margin-top: 30px;
	margin-right: 5%;
}
.ohana p {
	margin-top: 20px;
	margin-bottom: 0;
	padding-bottom: 10px;
}

@media screen and (max-width:1000px) {
.ohana img {
	width: 300px;
}
}

.wrapper_h {
    margin: 0 50px;
}
.license {
	margin-top: 30px;
	padding-bottom: 100px;
}
.license p {
	margin-left: 5%;
	margin-bottom: 0;
}
.education {
	background-color: #FCEDF4;
	padding-top: 150px;
    padding-bottom: 100px;
}
.education .komidashi1 {
    text-align: center;	
	border-left: none;
	padding-left: 0;
	margin-left: 0;
}

.time {
    display: flex;
	justify-content: center;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}
.timeline {
  list-style: none;
}
.timeline p  {
  margin-top: 0;

}

.timeline > li {
  margin-bottom: 50px;
}

/* for Desktop */
@media ( min-width : 888px ){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 180px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 2px #806473 solid;
    padding-left: 30px;
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #806473;
    position: absolute;
    left: 175px;
    top: 18px;
    border-radius: 100%;
  }
}
.experiences {
	background-color: #FCEDF4;
	padding-bottom: 150px;
}
.experiences .komidashi1 {
    text-align: center;	
	border-left: none;
	padding-left: 0;
	margin-left: 0;
}
.thank {
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 200px;
}

.thank .komidashi1 {
	color: #58444E;
	font-size: 50px;
	letter-spacing: 0.05em;
}
@media screen and (max-width:400px) {
.thank .komidashi1 {
	font-size: 30px;
}
}

/*------------ボタンVIEW MY WORKS------------*/
 .thank .btn a {
    background-color: #B992A6;
    padding: 10px 50px;
    color: #FFFFFF;
}
.thank .btn a:hover:hover {
	background-color: #FFE5F1;
    color: #58444E;
}
@media screen and (max-width:400px) {
.thank .btn a {
	font-size: 20px;
}
}

/*------------graphics.html背景------------*/
#graphics .header2 {
    background-image: url("../image/works_graphics-01.jpg");
    background-size: cover;
    background-position: center;
}
.zasshi p:nth-of-type(1) {
	margin-top: 0px;
}

/*------------Web design.html背景------------*/
#Webdesign .header2 {
    background-image: url("../image/WEB.png");
    background-size: cover;
    background-position: center;
}
/*------------Web design.html背景------------*/
#UIUX-design .header2 {
    background-image: url("../image/UIUX.png");
    background-size: cover;
    background-position: center;
}
/*------------branding.html背景------------*/
#branding .header2 {
    background-image: url("../image/Thema1.png");
    background-size: cover;
    background-position: center;
}

/*------------uiux design.html背景------------*/
#UIUX-design.header2 {
    background-image: url("../image/UIUX.png");
    background-size: cover;
    background-position: center 70%;
}
/*------------branding.html背景------------*/
#typography.header2 {
    background-image: url("../image/Thema2.png");
    background-size: cover;
    background-position: center;
}

/*------------graphics.html背景------------*/
#typography .header2 {
    background-image: url("../image/Thema2.png");
    background-size: cover;
    background-position: center;
}

/*------------作品紹介ページ------------*/
.yohaku2 {
	height: 100px;
}
.sakuhin {
	margin-top: 200px;
	margin-bottom: 50px;
	padding: 0 20px;
}
.imghaba {
	display:flex;
	justify-content: center;
	flex-wrap:wrap; /* 折り返し指定 */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	
}
.sakuhin .komidashi1 {
	margin-bottom: 80px;
}
.sakuhin img {
	width: 700px;
}
@media screen and (max-width:700px) {
.sakuhin img {
	width: 400px;
}
}

.sakuhin p {
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
}
.sakuhin p:nth-of-type(1) {
	font-size: 35px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 25px;
}
.sakuhin p:nth-of-type(3) {
	font-size: 35px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 25px;
}
#typography .sakuhin p:nth-of-type(2) {
	margin-bottom: 0px;
}
#typography .sakuhin p:nth-of-type(3) {
	font-size: 15px;
	text-align: end;
	margin-top: 0px;
	margin-bottom: 50px;
}
#typography .sakuhin p:nth-of-type(4) {
	font-size: 35px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 25px;
}
#typography .sakuhin p:nth-of-type(5) {
	margin-bottom: 0px;
}
#typography .sakuhin p:nth-of-type(6) {
	font-size: 15px;
	text-align: end;
	margin-top: 0px;
	margin-bottom: 50px;
}
#others .sakuhin p:nth-of-type(3) {
	font-size: 15px;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 50px;
}
@media screen and (max-width:700px) {
.sakuhin p:nth-of-type(1) {
	font-size: 26px;
}
.sakuhin p:nth-of-type(3) {
	font-size: 26px;
}
}

.nikogazou img {
	width: 500px;
}
@media screen and (max-width:700px) {
.nikogazou img {
	width: 400px;
}
}

.nikogazou img:nth-of-type(1) {
	padding-right: 25px;
}
.nikogazou img:nth-of-type(2) {
	padding-left: 25px;
}
@media screen and (max-width:1140px) {
.nikogazou img:nth-of-type(1) {
	padding-right: 50px;
}
.nikogazou img:nth-of-type(2) {
	padding-left: 50px;
}
}

.nikogazou2 img {
	width: 1100px;
}
@media screen and (max-width:1100px) {
.nikogazou2 img {
	width: 700px;
	margin-bottom: 0;
}
}
@media screen and (max-width:700px) {
.nikogazou2 img {
	width: 500px;
	margin-bottom: 0;
}
}
.nikogazou2 img:nth-of-type(1) {
	margin-bottom: px;
}
.nikogazou2 img:nth-of-type(2) {
	margin-top: 0;
}
.nikogazou2 img:nth-of-type(3) {
	margin-bottom: 0;
}
#branding .nikogazou2 img:nth-of-type(2) {
	margin-bottom: 25px;
}
#branding .nikogazou2 img:nth-of-type(3) {
	margin-top: 25px;
}


/*------------アニメーション------------*/
/*------------フワッと------------*/
.fadeIn {
    opacity: 0;
    transition: 2s;
}
.fadeIn.is-show {
    opacity: 1;
}


/* 左から現れるボックスの設定 */
.left{
    transform:translateX(-50px);/* 最初は元の位置より左にずらしておくが-50pxを変えると
                                   ずらし具合を変えることができる。
                                   小さい値にしすぎると左から現れる感じを出せない */
    opacity:0;  /* 最初は非表示にしておく */
    transition:opacity 1s,transform 1s;/* 5sを変えると現れるまでの時間を変えることができる*/
  }

  
  /* スクロールして追加するクラスの設定 */
  .left-fadein {
    opacity:1;/* 表示させる */
    transform:translateX(0); /* 位置を最初の位置に戻す。
                                0以外の10pxとかにすると始めの位置より右に動く */
  }


  /*右から現れるボックスの指定*/
  .right { /*.leftの時と位置の指定方法が変わる*/
      transform:translate(50px,0); /*元の位置より右にずらすけど座標にする。
                                    この時50px以外のプラスの値にすると
                                    もっと右にずらせる*/
      opacity:0;  /* 最初は非表示にしておく */
      transition:opacity 1s,transform 1s;/* 透明度と位置を設定 */
  }


  /*スクロールして追加するクラスの設定*/
  .right-fadein {
      opacity:1;/* 表示させる */
      transform:translate(0, 0); /* 位置を最初の位置に戻す */
  }
